h1 {
    font-size: 80px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    border-bottom: 4px solid tan;
    margin: 1px;
    padding: 20px;
    color: tan;
    font-style: oblique;
}

#grid ol,
#grid p {
    margin: 1px;
    padding: 20px;
}

#grid ol {
    width: 100px;
}

#grid p {
    border-left: 2px solid tan;
    width: 90%;
}

body {
    margin: 1px;
    background-color: antiquewhite;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

h2 {
    font-size: 40px;
    font-style: oblique;
    color: red;
}

@media(max-width: 900px) {
    #grid {
        display: block;
    }
    #grid p {
        border-left: none;
        width: 100%;
    }
    h1 {
        border-bottom: none;
        font-size: 25px;
    }
    body {
        background-color: black;
        color: white;
    }
}

@media(max-width: 1200px) {
    body {
        background-color: brown;
    }
}
